jim was arrested for knocking dave out using a jock bone from a mule .
for hitting dave with a hock bone
jim s trial takes place in macedonia baptist church .
macedonia baptist church
jim and dave were fighting because they both wanted to win the affection of daisy .
for daisy s affection
