jim was banished from his town for two years .
2 years banishment
they both return to eatonville , florida .
eatonville
elder childers represented dave .
jim
